{% extends "base.html.twig" %}

{% block navbar %}
    <a>{{ user.login }}</a>
    <a href="/?action=logout">Выйти</a>
{% endblock %}
{% block content %}
    <h1>Добро пожаловать, {{ user.login }}</h1>
    <div id="chat-block">
        {% for message in messages %}
            <div class="message">
                {% if message.senderLogin == user.login %}
                    <div class="sent">
                        <div class="message-head">
                            at {{ message.time }} to {{message.receiverLogin}}
                        </div>
                        <div class="message-text">
                            {{ message.text }}
                        </div>
                    </div>
                {% else %}
                    <div class="received">
                        <div class="message-head">
                            {{ message.senderLogin }} at {{ message.time }}
                        </div>
                        <div class="message-text">
                            {{ message.text }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            Сообщений пока нет
        {% endfor %}
    </div>
    <div id="chat-input">
        <form action="/" method="post">
            <div class="input-container">
                <input id="msg_text" name="msg_text" class="input" type="text" placeholder=" "/>
                <label for="msg_text" class="placeholder">Сообщение</label>
            </div>
            <div class="input-container">
                <input id="receiver" name="receiver" class="input" type="text" placeholder=" "/>
                <label for="receiver" class="placeholder-hide">Получатель (если ЛС)</label>
            </div>
            <div class="input-container">
                <button type="submit" class="submit">Отправить</button>
            </div>
        </form>
    </div>
{% endblock %}

