{% extends "base.html.twig" %}

{% block content %}
    <h1>Добро пожаловать, {{ user.login }}</h1>
    {% for message in messages %}
        <p>
            {{constant('PUBLIC_MESSAGE', message)}} <br>
            {{message.receiverLogin}} <br>
            {{user.login}} <br>
        </p>
        {# Вот эту штуку переопределяем в админке #}
        {% if message.receiverLogin == user.login or message.receiverLogin == message.PUBLIC_MESSAGE %}
            <div class="message">
                {% if message.senderLogin == user.login %}
                    <div class="sent">
                        <div class="message-time">
                            {{ message.time }}
                        </div>
                        <div class="message-text">
                            {{ message.messageText }}
                        </div>
                    </div>
                {% else %}
                    <div class="received">
                        <div class="message-time">
                            {{ message.time }}
                        </div>
                        <div class="message-text">
                            {{ message.messageText }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        Сообщений пока нет
    {% endfor %}
{% endblock %}

